Repository tinovyatkin/nest-puppeteer: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format, taplo, rumdl, yamllint, typos, codecov, renovate, actionlint, commitlint-config

typecheck:
  run: npx -y -q tsgo --noEmit

lint:
  run: npx -y -q oxlint --fix --fix-suggestions {staged_files}
  stage_fixed: true

format:
  run: npx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: npx -y -q taplo format {staged_files}
  stage_fixed: true

rumdl:
  run: uv tool run rumdl check --fix --output-format concise {staged_files}

yamllint:
  run: uvx yamllint {staged_files}

typos:
  run: uv tool run typos --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y -q -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

docs: puppeteer-extra-plugin-stealth
  docs/stealth-implementation-plan.md
Due: rumdl, typos

docs: update README
  README.md
Due: typos

chore: remove .npmrc
  .npmrc
Due: none

3.1.1
  package.json
Due: format, typos

chore: regenerate package-lock
  package-lock.json
Due: format, typos

chore: remove eslintignore
  .eslintignore
Due: none

chore: fix lint
  .oxlintrc.json
  src/puppeteer-core.module.ts
Due: typecheck, lint, format, typos

fix: lint errors
  src/puppeteer.testing.ts
Due: typecheck, lint, format, typos

Path conditions:
  typecheck: any of: **/*.ts
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts}
  format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx,json,yml,yaml}
  taplo: any of: **/*.toml
  rumdl: any of: **/*.md
  yamllint: any of: *.{yml,yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
